@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');

.menufont {
  font-family: "Lexend",sans-serif;
}
@mixin mainfont {
  font-family: "Lexend",sans-serif;
  color: $colormainfont;
}
h2 {
  @include mainfont;
  font-size: 2rem;
}

h3 {
  font-family: "Courier New",sans-serif;
  color: $colormainfont;
  font-size: 4.5rem;
}

h4 {
  @include mainfont;
  font-size: 1.5rem;
  font-weight: 700;
}
.mainfont {
  @include mainfont;
  font-size: 1.5rem;
  font-weight: 200;
}

