.pracownia_box {
  //border: 1px solid yellowgreen;
  display: flex;
  @include rwd {
    width: 100%;
    display: block;
    text-align: center;
  }
}
.pracownia_img {
  box-sizing: border-box;
  width: 16.5rem;
  padding-right: 1rem;

}

.pracownia_img_mobile {
  box-sizing: border-box;
  width: 70%;
  margin-bottom: 1.5rem;
}
.pracownia_column {
  //border: 1px solid blue;


}
.pracownia_section p{
  margin-bottom: 15px;
  text-align: justify;
}
.pracownia_section p:last-child{
  margin-bottom: 0;
  text-align: justify;
}