.projekty_header {
  border-bottom: 1px solid darkgrey ;
  margin-bottom: 2rem;
}

.paddingtop {
  padding-top: 12rem;
  @include rwd {
    height: auto;
    padding-top: 24rem;}
}



.paddingtop2 {
  padding-top: 12rem;
    height: auto;
  @include rwd {
    padding-top: 24rem;}
}

.projekt_box {
  position: relative;
  box-sizing: border-box;
  width: 80rem;
  height: 40rem;
  overflow: clip;
  border: 0 solid darkgrey;
  background-color: #ffffff;
  //box-shadow: 0 0 5px 4px rgba(0,0,0,0.05);
  margin-inline: auto;

  margin-bottom: 2rem;
}

.projekt_blenda {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: rgb(255, 255, 255);
  font-size: 5rem;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    opacity: 0.85;
  }
}

.projekt_opis {
  @include mainfont;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
}

.txtsection {
  border-bottom: 1px dashed $colorheaderselected;
}

.txtsection_akaptit {
  margin: 0.5rem 0 0.5rem 2rem;
}
.txtsection_odstep {
  margin: 1rem 0 0.5rem 0;
}

.prj_photo {

  z-index: 20;
  width: 100%;
}
