@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap");
html, body, div, span, applet, object, iframe,
cuhtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

:root {
  font-size: 10px;
}

.menufont {
  font-family: "Lexend", sans-serif;
}

h2 {
  font-family: "Lexend", sans-serif;
  color: rgb(36, 36, 36);
  font-size: 2rem;
}

h3 {
  font-family: "Courier New", sans-serif;
  color: rgb(36, 36, 36);
  font-size: 4.5rem;
}

h4 {
  font-family: "Lexend", sans-serif;
  color: rgb(36, 36, 36);
  font-size: 1.6rem;
  font-weight: 700;
}

.mainfont {
  font-family: "Lexend", sans-serif;
  color: rgb(36, 36, 36);
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2rem;
}

.kontakt_fnt {
  font-family: "Lexend", sans-serif;
  color: rgb(36, 36, 36);
  color: lightgrey;
  font-size: 2rem;
}

.kontakt_fnt_name {
  font-family: "Lexend", sans-serif;
  color: rgb(36, 36, 36);
  color: #707070;
  font-size: 2rem;
}

.kontakt_main_font {
  font-family: "Lexend", sans-serif;
  color: rgb(36, 36, 36);
  font-size: 1.6rem;
  font-weight: 200;
  color: lightgrey;
}

.header_button {
  margin-left: 2rem;
  margin-right: 1rem;
}
.header_button:hover {
  cursor: pointer;
  color: rgb(36, 36, 36);
  transition-duration: 0.3s;
}

.logo_btn:hover {
  cursor: pointer;
}

.moreless_btn {
  margin: 2px;
  width: 15rem;
  background-color: white;
  border-radius: 4px;
  padding: 3px;
}
.moreless_btn:hover {
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

body {
  background-color: rgb(248, 248, 248);
}

li {
  margin: 2rem 0 1rem 0;
  list-style-position: outside;
  text-align: justify;
  line-height: 2.3rem;
}

.main_structure {
  width: 100vw;
  height: 100vh;
}

.header_style {
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 8rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
@media screen and (max-width: 950px) {
  .header_style {
    display: block;
  }
}

.conteiner {
  width: 100vw;
  height: calc(100vh - 6rem);
  box-sizing: border-box;
}

.header_title {
  display: flex;
  align-items: center;
}

.header_company_name {
  margin-left: 1rem;
}

.header_person_name {
  margin-left: 0.5rem;
  color: rgb(36, 36, 36);
}

.footer {
  height: 4rem;
  box-sizing: border-box;
  margin-top: 2rem;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: lightgrey;
}

.pracownia_section {
  margin-bottom: 15px;
  text-align: justify;
}

.mainview_header {
  width: 100vw;
  height: 100vh;
  background-image: url("../../src/image/bgr/tlo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainview_conteiner {
  width: 940px;
  margin-inline: auto;
}
@media screen and (max-width: 950px) {
  .mainview_conteiner {
    width: 100%;
  }
}

.mainview_section {
  margin: 1.5rem 0;
  border-bottom: 1px solid lightgrey;
}

.mainview_portfolio_project {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 950px) {
  .mainview_portfolio_project {
    display: block;
  }
}
.mainview_portfolio_project:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.5s;
}

.mainview_box {
  box-sizing: border-box;
  padding: 1rem;
  width: 30rem;
  height: 30rem;
}
@media screen and (max-width: 950px) {
  .mainview_box {
    width: 100%;
  }
}

.mainview_box__title {
  display: flex;
  text-align: center;
  align-items: center;
}

.mainview_box__title_order {
  order: 1;
}

.mainview_box__description {
  display: flex;
  align-items: center;
  text-align: justify;
}

.mainview_box__description_order {
  order: 0;
}

.mainview_box__image {
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.mainview_box__image_order {
  order: -1;
}

.mainview_image {
  height: 100%;
  overflow-clip-margin: content-box;
}
@media screen and (max-width: 950px) {
  .mainview_image {
    width: 100%;
    height: auto;
  }
}

.projekty_header {
  border-bottom: 1px solid darkgrey;
  margin-bottom: 2rem;
}

.paddingtop {
  padding-top: 12rem;
}

.projekt_box {
  width: 95%;
  border: 0 solid darkgrey;
  background-color: #ffffff;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.05);
  margin-inline: auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.txtsection {
  border-bottom: 1px dashed rgb(36, 36, 36);
}

.txtsection_akaptit {
  margin: 0.5rem 0 0.5rem 2rem;
}

.txtsection_odstep {
  margin: 1rem 0 0.5rem 0;
}

.kontakt_conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontakt_img {
  width: 5rem;
  height: 5rem;
}

.kontakt_box {
  box-sizing: border-box;
  padding: 3rem;
  display: flex;
  background-color: rgb(36, 36, 36);
  width: 60rem;
  height: 30rem;
  color: lightgrey;
  justify-content: space-around;
}

.kontakt_header {
  display: block;
  justify-content: center;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
